fastapi==0.109.2
uvicorn==0.27.1
python-dotenv==1.0.1
langchain-core==0.1.26
langchain==0.1.9
langchain-community==0.0.24
langchain-huggingface==0.0.6
chromadb==0.4.22
PyPDF2==3.0.1
sentence-transformers==2.5.1
pydantic==2.6.1
groq==0.4.2