fastapi
uvicorn
python-dotenv
langchain-core
langchain
langchain-community
langchain-huggingface
chromadb
PyPDF2
sentence-transformers
pydantic
groq
pymupdf
requests
gunicorn
google-generativeai
chromadb
pydantic
